{% extends 'base.html' %}

{% block title %}
About
{% endblock title %}

{% block nav %}<li><a href="/logoutUser">Logout</a></li>{% endblock nav %}

{% block description %}
<h1>About Page</h1>
<p class="para">Lorem ipsum, dolor sit amet adipisicing elit. In reiciendis deserunt mollitia expedita animi ab saepe harum beatae consectetur inventore enim laudantium vero sint quam unde iusto non, laborum quasi ut. Hic, suscipit? Rerum dolore maiores, sed fugiat molestiae reiciendis itaque laudantium pariatur exercitationem eum facere perferendis totam repellendus vitae ipsum eos molestias inventore nostrum! Dolores optio velit aspernatur dolorum explicabo voluptas quasi! Sit perspiciatis dolore dicta debitis explicabo maxime omnis ducimus, beatae id natus in odio nihil quia libero.</p>
{% endblock description %}