{% extends 'base.html' %}

{% block title %}
Home
{% endblock title %}
{% block nav %}<li><a href="/logoutUser">Logout</a></li>{% endblock nav %}
{% block description %}
<h1><span id="typed"></span></h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos sapiente rem id error dolor recusandae sed inventore voluptas impedit, possimus sit quaerat reiciendis esse fugit ipsum corporis facilis cum expedita nihil explicabo cupiditate eius? Facilis, cum. Veniam, amet cupiditate soluta ducimus ex atque. Voluptate, ipsam! Eveniet, at eligendi labore voluptatem necessitatibus inventore, voluptate quos omnis reprehenderit esse rem soluta sed molestias impedit recusandae fugit, quis saepe! Debitis doloremque ipsam doloribus.</p>
{% endblock description %}
