{% extends 'base.html' %}

{% block title %}
Services
{% endblock title %}

{% block style %}
<style>
  .description {
    height: auto;
    background-color: white;
  }
</style>
{% endblock style %}


{% block nav %}<li><a href="/logoutUser">Logout</a></li><button type="button" id="popcart" data-html="true" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus
sagittis lacus vel augue laoreet rutrum faucibus.">
  Cart(<span id="cart">0</span>)
</button>{% endblock nav %}

{% block description %}
<div class="container-fluid">
  {% for serve, range, nSlides in allProds %}
  <h1 class="text-center">{{serve.0.category}}</h1>
    <!-- Sliding Start Here -->
  <div class="carousel slide" id="demo{{forloop.counter}}" data-ride="carouel">
    <ul class="carousel-indicators">
      <li data-target="#demo{{forloop.counter}}" data-slide-to="0" class="active"></li>
      {% for i in range %}
      <li data-target="#demo{{forloop.parentloop.counter}}" data-slide-to="{{i}}" class="active"></li>
      {% endfor %}
    </ul>
    <!-- Left Arrow -->
    <div class="left">
      <a href="#demo{{forloop.counter}}" class="carousel-control-prev" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
    </div>
    <!-- Sliding Start From Here -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        {% for i in serve %}
        <div class="card" style="width: 16rem;">
          <img src="{{i.img.url}}" class="card-img-top br" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{i.name}}</h5>
            <p class="card-text">{{i.desc}}</p>
            <p class="card-text"><strong>Rs. {{i.price}}</strong></p>
            <button id="pr{{i.id}}" class="btn btn-primary cart">ADD TO CART</button>
          </div>
        </div>
        {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
      </div>
      <div class="carousel-item">
        {% endif %}
        {% endfor %}
      </div>
      <!-- Right Arrow -->
    </div>
    <div class="right">
      <a href="#demo{{forloop.counter}}" class="carousel-control-next" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </div>

  {% endfor %}
</div>
{% endblock description %}
{% block js %}
<script>
if(localStorage.getItem('cart')==null){
  var cart={};
}
else{
  cart=JSON.parse(localStorage.getItem('cart'));
  document.getElementById('cart').innerHTML=Object.keys(cart).length;
}
$('.cart').click(function(){
  var idstr=this.id
  if(cart[idstr]!=undefined){
    cart[idstr]=cart[idstr]+1;
  }
  else{
    cart[idstr]=1;
  }
  localStorage.setItem('cart',JSON.stringify(cart))
  document.getElementById('cart').innerHTML=Object.keys(cart).length;
  // localStorage.clear();
  // localStorage.removeItem(key);
});
$('#popcart').popover();
document.getElementById('popcart').setAttribute('data-content','<h5>Website Under Construction</h5>');
</script>
{% endblock js %}