{% extends 'base.html' %}

{% block title %}
Services
{% endblock title %}

{% block nav %}<li><a href="/logoutUser">Logout</a></li>{% endblock nav %}

{% block description %}
<h1>Our Services</h1>
<div class="menu">
    <div class="submenu">
        <img src="../static/IMG/gopal_gujarati_thali_paige_weaver.jpeg" alt="" onclick="alert('Under Construction')">
    </div>
    <div class="submenu">
        <img src="../static/IMG/412086.JPG" alt="" onclick="alert('Under Construction')">
    </div>
    <div class="submenu">
        <img src="../static/IMG/1163-gourmet.jpg" alt="" onclick="alert('Under Construction')">
    </div>
</div>

{% endblock description %}
