{% extends 'base.html' %}

{% block title %}
Signup here
{% endblock title %}

{% block description %}


<h1>Sign UP Here</h1>
<div class="container mt-4" id="width-setter">
    <form action="/signup" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input type="input" name="username" class="form-control mt-3 mx-auto w-50" id="exampleFormControlInput1"
                placeholder="Enter Enter Username" style="border: 2px solid black;">
        </div>
        <div class="form-group">
            <input type="input" name="first" class="form-control mt-3 mx-auto w-50" id="exampleFormControlInput1"
                placeholder="Enter First Name" style="border: 2px solid black;">
        </div>
        <div class="form-group">
            <input type="input" name="last" class="form-control mt-3 mx-auto w-50" id="exampleFormControlInput1"
                placeholder="Enter Last Name" style="border: 2px solid black;">
        </div>
        <div class="form-group">
            <input type="email" name="email" class="form-control mt-3 mx-auto w-50" id="exampleFormControlInput1"
                placeholder="Enter Email" style="border: 2px solid black;">
        </div>
        <div class="form-group">
            <input type="password" name="pass" class="form-control mt-3 mx-auto w-50" id="exampleFormControlInput1"
                placeholder="Enter Password" style="border: 2px solid black;">
        </div>
        <center><button type="submit" class="btn btn-dark">Submit</button></center>
    </form>
</div>
{% endblock description %}