*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    cursor: pointer;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
    background-color: rgb(53, 51, 51);
    position: sticky;
    top: 0px;
}
.header .logo img{
    height: 100px;
    border-radius: 50px;
    margin: 10px 100px;
}
.header .logo{
    /* border: 2px solid black; */
    width: 25%;
}
.header .navigation{
    width: 60%;
    /* border: 2px solid red; */
}
.header .navigation ul{
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-around;
}
.header .navigation ul li{
    padding: 10px 18px;
    font-size: 1.6rem;
    list-style: none;
    border-radius: 10px;
}
.header .navigation ul li a{
    text-decoration: none;
    color: white;
}
.header .navigation ul li:hover{
    background-color: black;
    text-decoration: underline;
    border: 1px solid rgb(156, 156, 156);
}
/* Description */
.description{
    /* border: 2px solid red; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)) , url('/IMG/832.jpg') no-repeat center center/cover; */
    /* color: white; */
}
.description::before{
    content: "";
    background: url('IMG/1163-gourmet.jpg') no-repeat center center/cover;
    position: absolute;
    top: 120px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .89;
}
.description h1,p{
    padding: 10px;
    /* margin: 45px; */
}
.description h1{
    font-size: 4rem;
    /* margin-bottom: 70px; */
    margin-top: 15px;
}
#box h1{
    text-shadow: 2px 2px red;
}
.description p{
    font-size: 2rem;
    margin-top: 20px;
}
.description .btn{
    margin-top: 23px;
}
.description .btn button{
    margin-right: 15px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: limegreen;
    box-shadow: 1px 0px 4px 5px black;
    outline: none;
}
.description .input{
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    /* width: 60%; */
}
.description .input input{
    padding: 10px 10px;
    margin: 10px 10px;
    border-radius: 10px;
    border: 2px solid black;
    width: 95%;
    outline: none;
}
#box{
    border: 2px solid black;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    height: 450px;
    width: 40%;
    box-shadow: 20px 20px red;
    box-shadow: 0px 0px 20px 20px red;
    border-radius: 48px;
    margin-bottom: 130px;
}
.menu{
    /* border: 2px solid black; */
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    width: 200vh;
    height: 50vh;
}
.menu .submenu{
    border: 2px solid red;
    margin: 15px 16px;
    width: 400px;
    height: 300px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 10px red;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu .submenu img{
    border-radius: 15px;
    width: 400px;
    height: 300px;
    /* margin-right: 17px; */
    overflow: hidden;
}
#width-setter{
    width: 50%;
}
.container{
    /* border: 2px solid black; */
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 10px red;
    background-color: white;
}